<style type="text/css" scoped>
	.vue-xtable-header--column {
		vertical-align: top;
	}

	.reason-header {
		writing-mode: vertical-lr;
		white-space: nowrap;
	}

	.reason-header .vue-xtable-cell {
		line-height: 40px;
	}
</style>
<template>
	<div v-cloak class="page" v-loading="pageLoading" :vue-loading-text="messageutil.get('page.loading.text')">
		<escort-form ref="form" id="form" :model="form">
			<escort-xgrid height="" id="vueXgrid_UIq0n" ref="vueXgrid_UIq0n" :data="gridDs.data" :datasource="gridDs" :mouse-config="{ selected: false, checked: false }">
				<escort-xgrid-column width="80px" text="分类" id="vueXgridGroupColumn_UMaAG" ref="vueXgridGroupColumn_UMaAG" render-name="common" :template-column="true">
					<escort-xgrid-column :border="true" align="center" header-class-name="reason-header" text="原因" width="60px" header-align="center" type="common" :template="true" render-name="template">
						<template slot="default" slot-scope="scope">
							{{scope.row.$rowIndex === 0 ? '发生' : '流出'}}
						</template>
					</escort-xgrid-column>
				</escort-xgrid-column>
				<escort-xgrid-column v-for="group in columnDs.data" :text="group.text" id="vueXgridGroupColumn_UIsUy" ref="vueXgridGroupColumn_UIsUy" render-name="common" :template-column="true">
					<escort-xgrid-column v-for="(column,column_index) in group.children" :key="column.prop" :template="true" sub-set="children" align="center" :prop="column.prop" width="40px" :text="column.text">
						<template slot="default" slot-scope="scope">
							{{scope.row[column.prop] ? '√' : '×'}}
						</template>
					</escort-xgrid-column>
				</escort-xgrid-column>
			</escort-xgrid>
		</escort-form>
	</div>
</template>
<script type="text/javascript">
	var pageMixins;
	(function() {
		var pageMixinMap = {};
		pageMixinMap.auto = {
			data: function() {
				return {
					pageLoading: false,
					form: {},
					columnDs: this.getDataSource({
						type: "POST",
						localData: [{
							text: '人',
							children: [{
								prop: 'no1',
								text: '1 注意力不足'
							}, {
								prop: 'no2',
								text: '2 技能缺陷'
							}, {
								prop: 'no3',
								text: '3 对规则不遵守'
							}]
						}, {
							text: '方法',
							children: [{
								prop: 'no4',
								text: '4 没有操作标准'
							}, {
								prop: 'no5',
								text: '5 操作标准不当'
							}, {
								prop: 'no6',
								text: '6 包装规格不当'
							}]
						}]
					}),
					gridDs: this.getDataSource({
						type: "POST",
						localData: [{
							no1: true,
							no2: false,
							no3: true,
							no4: false,
							no5: false,
							no6: true
						}, {
							no1: true,
							no2: false,
							no3: true,
							no4: false,
							no5: false,
							no6: true
						}]
					})
				};
			},
			mounted: function() {
				this.columnDs.retrieve();
				this.gridDs.retrieve();
			}
		};
		pageMixins = getPageMixins(pageMixinMap);
	})();
	module.exports = {
		mixins: pageMixins,
		name: "loop_column_group"
	};
</script>