<style type="text/css" scoped>
	.readonly input {
		background-color: #eeeeee;
	}

	.aside-demo-row {
		margin: 8px;
		padding: 8px;
	}
</style>
<template>
	<div v-cloak class="page" v-loading="pageLoading" :vue-loading-text="messageutil.get('page.loading.text')">
		<escort-form ref="form" id="form" :model="form">
			<escort-row :gutter="10" cls="aside-demo-row" id="vueRow_XbD3t" ref="vueRow_XbD3t">
				<escort-col :md="{span:12}">
					<escort-input label-value="openSingle" icon="vue-icon-search" id="vueInputBox_Xso2f" ref="vueInputBox_Xso2f" v-model="form.openSingle" prop="openSingle" @icon-click="vueInputBox_Xso2fIconClick"></escort-input>
				</escort-col>
				<escort-col :md="{span:12}">
					<escort-input :label-display="false" :readonly="true" cls="readonly" id="vueInputBox_XbW9C" ref="vueInputBox_XbW9C" v-model="form.simpleResult" prop="simpleResult"></escort-input>
				</escort-col>
				<escort-col :md="{span:12}">
					<escort-input label-value="openIframe" icon="vue-icon-search" id="vueInputBox_9BEt3M" ref="vueInputBox_9BEt3M" v-model="form.openIframe" prop="openIframe" @icon-click="vueInputBox_9BEt3MIconClick"></escort-input>
				</escort-col>
				<escort-col :md="{span:12}">
					<escort-input :label-display="false" :readonly="true" cls="readonly" id="vueInputBox_9y1oEe" ref="vueInputBox_9y1oEe" v-model="form.iframeResult" prop="iframeResult"></escort-input>
				</escort-col>
			</escort-row>
			<escort-aside :transition="false" :close-on-click-modal="true" id="singleAside" ref="singleAside" @after-close="singleAsideAfterClose" src="/vueAsideContent">
			</escort-aside>
			<escort-aside :close-on-click-modal="true" id="iframeAside" ref="iframeAside" @after-close="iframeAsideAfterClose" src="/vueAsideIframe" :iframe="true" method="get">
			</escort-aside>
		</escort-form>
	</div>
</template>
<script type="text/javascript">
	var pageMixins;
	(function() {
		var pageMixinMap = {};
		pageMixinMap.event = {
			methods: {
				vueInputBox_Xso2fIconClick: function(event) {
					var param = {
						name: this.form.openSingle
					}
					this.$refs.singleAside.open(param);
				},
				vueInputBox_9BEt3MIconClick: function(event) {
					var param = {
						name: this.form.openIframe
					}
					this.$refs.iframeAside.open(param);
					app.iframeAsideClose = this.iframeAsideClose;
				},
				singleAsideAfterClose: function(params) {
					if (params) {
						this.form.simpleResult = params.activityZone;
					}
				},
				iframeAsideAfterClose: function(params) {
					if (params) {
						this.form.iframeResult = params.activityZone;
					}
				}
			}
		};
		pageMixinMap.manualCommon = [{
			inject: ['app'],
			watch: {
				'form.openSingle': function(val) {
					if (!val) {
						this.form.simpleResult = "";
					}
				},
				'form.openIframe': function(val) {
					if (!val) {
						this.form.iframeResult = "";
					}
				}
			},
			methods: {
				iframeAsideClose: function(p) {
					this.$refs.iframeAside.close(p);
				}
			}
		}];
		pageMixinMap.auto = {
			data: function() {
				return {
					pageLoading: false,
					form: {
						openSingle: "",
						simpleResult: "",
						openIframe: "",
						iframeResult: ""
					}
				};
			}
		};
		pageMixins = getPageMixins(pageMixinMap);
	})();
	module.exports = {
		mixins: pageMixins,
		name: "asideSample"
	};
</script>