<style type="text/css" scoped>
	.vue-form.escort-vue.escort-vue-form {
		padding: 8px;
	}
</style>
<template>
	<div v-cloak class="page" v-loading="pageLoading" :vue-loading-text="messageutil.get('page.loading.text')">
		<escort-form ref="form" id="form" :model="form">
			<escort-collapse title="条件部" :collapse="true" id="vuePanel_vzHCb" ref="vuePanel_vzHCb" @change="vuePanel_vzHCbChange">
				<escort-row id="vueRow_vuo28" ref="vueRow_vuo28">
					<escort-col align="left" :inline="true" :md="{span:20}">
						<escort-input label-value="姓名:" label-width="60px" id="vueInputBox_vuGkz" ref="vueInputBox_vuGkz" v-model="form.userName" prop="userName"></escort-input>
						<escort-radio-button :options="vueRadioButton_vv7eXOpts" label-value="性别:" label-width="60px" id="vueRadioButton_vv7eX" ref="vueRadioButton_vv7eX" v-model="form.sexValue" prop="sexValue">
						</escort-radio-button>
						<escort-input label-value="住址:" label-width="60px" id="vueInputBox_vxHM1" ref="vueInputBox_vxHM1" v-model="form.address" prop="address"></escort-input>
					</escort-col>
					<escort-col align="right" :inline="true" :md="{span:4}">
						<escort-button type="primary" id="vueButton_vxQ3m" ref="vueButton_vxQ3m" @click="vueButton_vxQ3mClick"> 查询 </escort-button>
					</escort-col>
				</escort-row>
			</escort-collapse>
			<escort-xgrid :pageable="true" :height="gridHeight" id="vueXgrid_voESN" ref="vueXgrid_voESN" :data="grid.data" data-field="datas" :datasource="grid" total-field="total" :toolbar="{ id:'vueXgrid_voESNToolbar' ,export: true ,refresh: true ,fixed: true ,setting: true }">
				<escort-xgrid-column type="index" align="center" width="50px" min-width="50px">
				</escort-xgrid-column>
				<escort-xgrid-column prop="personNo" align="center" :sortable="true" :filterable="true" filter-type="excel" text="编号" width="140px" render-name="input">
				</escort-xgrid-column>
				<escort-xgrid-column prop="userName" align="left" :filterable="true" :sortable="true" filter-type="excel" text="姓名" width="150px" render-name="input" :sort-method="vueXgrid_voESNUserNameSortMethod">
				</escort-xgrid-column>
				<escort-xgrid-column render-name="numeric" :edit-render-attrs-cleave="vueXgrid_voESNAgeCleave" prop="age" align="right" :filterable="true" filter-type="complex" :sortable="true" width="120px" text="年龄">
				</escort-xgrid-column>
				<escort-xgrid-column :template="true" render-name="radio" prop="sexValue" edit-render-attrs-display-member="key" align="center" :sortable="true" :filterable="true" text="性别" width="110px" :edit-render-attrs-options="sexDataSet.data" :edit-render-attrs-datasource="sexDataSet">
					<template slot="default" slot-scope="scope">
						<escort-xgrid-column-display :row="scope.row" field="sexValue" widget-type="radio" display-member="key" align="center" :display-tag-color="['#a3d0f1','#ffb0f2']" :options="sexDataSet.data">
						</escort-xgrid-column-display>
					</template>
				</escort-xgrid-column>
				<escort-xgrid-column render-name="date" edit-render-attrs-type="date" prop="date" align="center" :filterable="true" :sortable="true" filter-type="excel" text="入社日期" width="150px">
				</escort-xgrid-column>
				<escort-xgrid-column render-name="textarea" prop="address" text="住址" min-width="250px">
				</escort-xgrid-column>
				<escort-xgrid-column align="center" width="130px" text="多按钮操作" render-name="button" :buttons="vueXgrid_voESNVueXgridButtonColumn_ib9rCButtons">
				</escort-xgrid-column>
				<escort-xgrid-column align="center" text="操作" width="160px" render-name="button" :buttons="vueXgrid_voESNVueXgridButtonColumn_ibKtbButtons">
				</escort-xgrid-column>
			</escort-xgrid>
			<escort-aside :close-on-click-modal="true" id="detailAside" ref="detailAside" src="/comprehensiveSampleDetail">
			</escort-aside>
		</escort-form>
	</div>
</template>
<script type="text/javascript">
	var pageMixins;
	(function() {
		var pageMixinMap = {};
		pageMixinMap.event = {
			methods: {
				vuePanel_vzHCbChange: function() {
					this.autoSetGridHeight();
				},
				vueButton_vxQ3mClick: function(event) {
					this.grid.retrieve();
				},
				vueXgrid_voESNUserNameSortMethod: function(rowa, rowb, prop) {
					return Intl.Collator("zh").compare(rowa.userName, rowb.userName);
				},
				gridParameter: function() {
					return this.form;
				}
			}
		};
		pageMixinMap.manualSeperate = {
			data: function() {
				return {
					gridHeight: 0
				};
			},
			created: function() {
				var thiz = this;
				window.onresize = function() {
					thiz.autoSetGridHeight();
				};
			},
			mounted: function() {
				this.autoSetGridHeight();
			},
			methods: {
				openDetailAside: function(editRow) {
					var params = {};
					params.id = editRow.id;
					params.userName = editRow.userName;
					params.personNo = editRow.personNo;
					params.date = editRow.date;
					params.sex = editRow.sex;
					params.age = editRow.age;
					params.address = editRow.address;
					this.$refs.detailAside.open(params);
				},
				doDel: function(row) {
					var self = this;
					var xgrid = self.getRef('vueXgrid_voESN');
					var escortGrid = self.$refs.vueXgrid_voESN;
					escortGrid.removeRows(row);
				},
				doInfo: function(row) {
					this.openDetailAside(row);
				},
				autoSetGridHeight: function() {
					var winHeight = 0;
					if (window.innerHeight) {
						winHeight = window.innerHeight;
					} else if ((document.body) && (document.body.offsetHeight)) {
						winHeight = document.body.offsetHeight;
					}
					if (document.documentElement && document.documentElement.offsetHeight) {
						winHeight = document.documentElement.offsetHeight;
					}
					var vuePanelHeight = this.getRef('vuePanel_vzHCb').$el.offsetHeight;
					var frameHeight = 0; //Compatible height calculation of page and page template
					if (document.getElementsByClassName('navbar').length > 0) {
						frameHeight += document.getElementsByClassName('navbar')[0].offsetHeight;
					}
					if (document.getElementsByClassName('tags-view-container').length > 0) {
						frameHeight += document.getElementsByClassName('tags-view-container')[0].offsetHeight;
					}
					this.gridHeight = winHeight - vuePanelHeight - frameHeight - 16;
				}
			}
		};
		pageMixinMap.auto = {
			data: function() {
				return {
					pageLoading: false,
					form: {
						userName: "",
						sexValue: "",
						address: ""
					},
					vueRadioButton_vv7eXOpts: [{
						value: "",
						label: "全部"
					}, {
						value: "1",
						label: "男"
					}, {
						value: "0",
						label: "女"
					}],
					vueXgrid_voESNAgeCleave: {
						numeralDecimalScale: '0'
					},
					grid: this.getDataSource({
						url: "/xgrid/search.json",
						type: "POST",
						parameter: this.gridParameter
					}),
					sexDataSet: this.getDataSource({
						type: "POST",
						localData: [{
							value: "1",
							key: "男"
						}, {
							value: "0",
							key: "女"
						}]
					})
				};
			},
			mounted: function() {
				this.grid.retrieve();
				this.sexDataSet.retrieve();
			},
			methods: {
				vueXgrid_voESNVueXgridButtonColumn_ib9rCButtons: function(scope) {
					return [{
						value: "详情",
						size: 'small',
						click: this.doInfo
					}, {
						value: "删除",
						size: 'small',
						click: this.doDel
					}];
				},
				vueXgrid_voESNVueXgridButtonColumn_ibKtbButtons: function(scope) {
					return [{
						value: "详细",
						size: 'small',
						click: this.openDetailAside
					}];
				}
			}
		};
		pageMixins = getPageMixins(pageMixinMap);
	})();
	module.exports = {
		mixins: pageMixins,
		name: "ComprehensiveSample"
	};
</script>