<style type="text/css" scoped>
</style>
<template>
	<div v-cloak class="page" v-loading="pageLoading" :vue-loading-text="messageutil.get('page.loading.text')">
		<escort-form ref="form" id="form" :model="form">
			<escort-aside-layout :foot-display="false" :use-crud-btn="false" title="Update Grid Row" id="vueAsideLayout_OlQGV" ref="vueAsideLayout_OlQGV">
				<template v-slot:slotbutton>
					<escort-button id="vueButton_OlTGn" ref="vueButton_OlTGn" @click="vueButton_OlTGnClick"> save </escort-button>
				</template>
				<template v-slot:content>
					<escort-input label-value="Name" id="vueInputBox_87zK9O" ref="vueInputBox_87zK9O" v-model="form.name" prop="name"></escort-input>
					<escort-input label-value="Type" id="vueInputBox_87zK9Q" ref="vueInputBox_87zK9Q" v-model="form.type" prop="type"></escort-input>
					<escort-input label-value="Age" id="vueInputBox_87zK9P" ref="vueInputBox_87zK9P" v-model="form.age" prop="age"></escort-input>
					<escort-input label-value="Description" id="vueInputBox_87zK9R" ref="vueInputBox_87zK9R" v-model="form.description" prop="description"></escort-input>
				</template>
			</escort-aside-layout>
		</escort-form>
	</div>
</template>
<script type="text/javascript">
	var pageMixins;
	(function() {
		var pageMixinMap = {};
		pageMixinMap.event = {
			methods: {
				vueButton_OlTGnClick: function(event) {
					//this.$emit('callback',this.form);
					this.$emit('close', this.form);
				}
			}
		};
		pageMixinMap.manualSeperate = {
			mounted: function() {
				var row = this.$attrs.params;
				this.form.name = row.name;
				this.form.age = row.age;
				this.form.type = row.type;
				this.form.description = row.description;
			}
		};
		pageMixinMap.auto = {
			data: function() {
				return {
					pageLoading: false,
					form: {
						name: "",
						type: "",
						age: "",
						description: ""
					}
				};
			}
		};
		pageMixins = getPageMixins(pageMixinMap);
	})();
	module.exports = {
		mixins: pageMixins,
		name: "gridEditAsideDemo"
	};
</script>