<style type="text/css" scoped>
	.vue-form.escort-vue.escort-vue-form {
		padding: 8px;
	}

	.tip {
		margin-bottom: 5px;
	}

	.tip .vue-note__description {
		font-size: 14px;
		color: black;
	}
</style>
<template>
	<div v-cloak class="page" v-loading="pageLoading" :vue-loading-text="messageutil.get('page.loading.text')">
		<escort-form ref="form" id="form" :model="form">
			<escort-notice :show-content="true" cls="tip" id="vueNotice_xBzRl" ref="vueNotice_xBzRl"> 普通列进行合计(如月薪)，是通过列属性Aggregate和Aggregate Label设置. <br />Group列进行自定义合计时,是通过设置Group列的Aggregate Method自定义方式. <br />
			</escort-notice>
			<escort-collapse title="条件部" :collapse="true" id="conditionPanel" ref="conditionPanel" @change="conditionPanelChange">
				<escort-row id="copy0_vueRow_OeNpv" ref="copy0_vueRow_OeNpv">
					<escort-col :md="{span:6}">
						<escort-input label-value="姓名：" size="small" id="name" ref="name" v-model="form.name" prop="name"></escort-input>
					</escort-col>
					<escort-col :md="{span:14}">
						<escort-radio-button :options="sexOpts" label-value="性别：" size="small" id="sex" ref="sex" v-model="form.sexValue" prop="sexValue">
						</escort-radio-button>
					</escort-col>
					<escort-col align="right" :md="{span:4}">
						<escort-button type="primary" size="small" icon="vue-icon-search" id="btnSearch" ref="btnSearch" @click="btnSearchClick"> 查询 </escort-button>
					</escort-col>
				</escort-row>
			</escort-collapse>
			<escort-xgrid :front-pagination="true" :pageable="false" :height="gridHeight" :show-footer="true" id="grid" ref="grid" :page-change="gridPageChange" :data="dsGrid.data" data-field="datas" :datasource="dsGrid" :edit-config="{ mode: 'row' }">
				<escort-xgrid-column type="index" align="center" width="50px" min-width="50px">
				</escort-xgrid-column>
				<escort-xgrid-column prop="personNo" align="center" :uppercase="true" :resizable="true" text="编号" width="100px" render-name="input">
				</escort-xgrid-column>
				<escort-xgrid-column :editable="false" :resizable="true" width="240px" :template="true" :template-header="true" render-name="group" :prop="['userName','age','sexValue']" :aggregate="groupAggregate">
					<template slot-scope="scope" slot="header">
						<div>
							<escort-row id="vueRow_uDY8l" ref="vueRow_uDY8l">
								<escort-col :md="{span:24}">
									<escort-xgrid-column-header text="姓名">
									</escort-xgrid-column-header>
								</escort-col>
							</escort-row>
							<escort-row id="vueRow_uDZ3p" ref="vueRow_uDZ3p">
								<escort-col :md="{span:8}">
									<escort-xgrid-column-header text="年龄">
									</escort-xgrid-column-header>
								</escort-col>
								<escort-col :md="{span:16}">
									<escort-xgrid-column-header text="性别">
									</escort-xgrid-column-header>
								</escort-col>
							</escort-row>
						</div>
					</template>
					<template slot-scope="scope" slot="default">
						<div>
							<escort-row id="vueRow_uDY8l" ref="vueRow_uDY8l">
								<escort-col :md="{span:24}">
									<escort-xgrid-column-display :row="scope.row" field="userName" align="center">
									</escort-xgrid-column-display>
								</escort-col>
							</escort-row>
							<escort-row id="vueRow_uDZ3p" ref="vueRow_uDZ3p">
								<escort-col :md="{span:8}">
									<escort-xgrid-column-display :row="scope.row" field="age" widget-type="numeric" align="right" :cleave="gridAgeCleave">
									</escort-xgrid-column-display>
								</escort-col>
								<escort-col :md="{span:16}">
									<escort-xgrid-column-display :row="scope.row" field="sexValue" widget-type="radio" align="center" :display-tag-color="['#ffb0f2','#a3d0f1']" :options="sexOptions.data">
									</escort-xgrid-column-display>
								</escort-col>
							</escort-row>
						</div>
					</template>
				</escort-xgrid-column>
				<escort-xgrid-column render-name="numeric" prop="salary" :resizable="true" align="right" aggregate="sum" aggregate-label="总薪资: " footer-align="right" width="200px" text="月薪">
				</escort-xgrid-column>
				<escort-xgrid-column render-name="select" :template="true" :edit-render-attrs-options="departOptions.data" :edit-render-attrs-datasource="departOptions" prop="department" align="center" :resizable="true" text="所属部门" width="120px">
					<template slot="default" slot-scope="scope">
						<escort-xgrid-column-display :row="scope.row" field="department" widget-type="select" align="center" :display-tag-color="['#FFB90F','#42b983','#6fb3e0']" :options="departOptions.data">
						</escort-xgrid-column-display>
					</template>
				</escort-xgrid-column>
				<escort-xgrid-column render-name="date" prop="date" align="center" :resizable="true" text="入社日期" width="160px">
				</escort-xgrid-column>
			</escort-xgrid>
		</escort-form>
	</div>
</template>
<script type="text/javascript">
	var pageMixins;
	(function() {
		var pageMixinMap = {};
		pageMixinMap.event = {
			methods: {
				conditionPanelChange: function() {
					this.autoSetGridHeight();
				},
				btnSearchClick: function(event) {
					var self = this;
					if (!this.$refs.grid.isDataChanged()) {
						this.dsGrid.retrieve();
					} else {
						componentutils.sysConfirm({
							title: "Warning",
							message: "Unsaved data exist! Are you  sure to retrieve?"
						}, function() {
							self.dsGrid.retrieve();
						})
					}
				},
				gridPageChange: function(currentPage) {
					if (this.$refs.grid.isDataChanged()) {
						componentutils.showWarningMessage({
							message: '存在未提交数据，禁止翻页，请先提交数据或者点刷新撤销更改',
							duration: 5000,
							showClose: true
						});
						return false;
					}
				},
				dsGridParameter: function(tempParams) {
					return this.getSearchParams();
				},
				updatePersonsParameter: function(tempParams) {
					debugger; //为了演示DataSource传参
					return tempParams;
				},
				updatePersonsSuccess: function(res) {
					var self = this;
					componentutils.showWarningMessage({
						message: '提交成功',
						onClose: function() {
							self.dsGrid.retrieve();
						}
					});
				}
			}
		};
		pageMixinMap.manualSeperate = {
			data: function() {
				return {
					gridHeight: 0
				};
			},
			created: function() {
				var self = this;
				window.onresize = function() {
					self.autoSetGridHeight();
				};
				window.grid = this;
			},
			mounted: function() {
				this.autoSetGridHeight();
				window.table = this.$refs.grid;
			},
			methods: {
				getSearchParams: function() {
					var searchConditions = this.form || {};
					return searchConditions;
				},
				groupAggregate: function(column, columnIndex, data) {
					var age = '平均年龄: ' + VueUtil.round(VueUtil.meanBy(data, function(row) {
						var age = row.age;
						return VueUtil.isNumberStr(age) ? parseFloat(age) : 0;
					}));
					var sex = ', 男性:' + VueUtil.sumBy(data, function(row) {
						var sexVal = row.sexValue;
						return sexVal == "1" ? 1 : 0;
					}) + '人,女性:' + VueUtil.sumBy(data, function(row) {
						var sexVal = row.sexValue;
						return sexVal == "0" ? 1 : 0;
					}) + '人.';
					return age + sex;
				},
				autoSetGridHeight: function() {
					var winHeight = 0;
					if (window.innerHeight) {
						winHeight = window.innerHeight;
					} else if ((document.body) && (document.body.offsetHeight)) {
						winHeight = document.body.offsetHeight;
					}
					if (document.documentElement && document.documentElement.offsetHeight) {
						winHeight = document.documentElement.offsetHeight;
					}
					var panelHeight = this.getRef("conditionPanel").$el.offsetHeight;
					var noticeHeight = this.getRef("vueNotice_xBzRl").$el.offsetHeight;
					var frameHeight = 0; //Compatible height calculation of page and page template
					if (document.getElementsByClassName('navbar').length > 0) {
						frameHeight += document.getElementsByClassName('navbar')[0].offsetHeight;
					}
					if (document.getElementsByClassName('tags-view-container').length > 0) {
						frameHeight += document.getElementsByClassName('tags-view-container')[0].offsetHeight;
					}
					this.gridHeight = winHeight - panelHeight - frameHeight - noticeHeight - 16 /* form padding */ - 5 /* notice margin-bottom */ ;
				}
			}
		};
		pageMixinMap.auto = {
			data: function() {
				return {
					pageLoading: false,
					form: {
						name: "",
						sexValue: ""
					},
					sexOpts: [{
						value: "",
						label: "全部"
					}, {
						value: "0",
						label: "女"
					}, {
						value: "1",
						label: "男"
					}],
					gridAgeCleave: {
						numeralDecimalScale: '0'
					},
					dsGrid: this.getDataSource({
						url: "/xgrid/search.json",
						type: "POST",
						parameter: this.dsGridParameter,
						emulateJSON: false
					}),
					departOptions: this.getDataSource({
						type: "POST",
						localData: [{
							value: 'AD',
							label: '管理部'
						}, {
							value: 'RD',
							label: '开发部'
						}, {
							value: 'SD',
							label: '业务部'
						}]
					}),
					sexOptions: this.getDataSource({
						type: "POST",
						localData: [{
							value: '0',
							label: '女'
						}, {
							value: '1',
							label: '男'
						}]
					}),
					updatePersons: this.getDataSource({
						type: "POST",
						parameter: this.updatePersonsParameter,
						success: this.updatePersonsSuccess
					})
				};
			},
			mounted: function() {
				this.dsGrid.retrieve();
				this.departOptions.retrieve();
				this.sexOptions.retrieve();
			}
		};
		pageMixins = getPageMixins(pageMixinMap);
	})();
	module.exports = {
		mixins: pageMixins,
		name: "tabularFooterSample"
	};
</script>