<style type="text/css" scoped>
	.escort-xtable-column--template .vue-xtable-cell {
		padding: 0;
	}
</style>
<template>
	<div v-cloak class="page" v-loading="pageLoading" :vue-loading-text="messageutil.get('page.loading.text')">
		<escort-form ref="form" id="form" :model="form">
			<escort-collapse title="条件部" id="conditionPanel" ref="conditionPanel" @change="conditionPanelChange">
				<template slot="title">
					<escort-row id="vueRow_lPE05" ref="vueRow_lPE05">
						<escort-col align="right" :md="{span:24}">
							<escort-button type="primary" icon="vue-icon-search" id="btnSearch" ref="btnSearch" @click="btnSearchClick"> 查询 </escort-button>
						</escort-col>
					</escort-row>
				</template>
				<escort-row id="copy0_vueRow_OeNpv" ref="copy0_vueRow_OeNpv">
					<escort-col :md="{span:12}">
						<escort-input label-value="姓名：" id="name" ref="name" v-model="form.name" prop="name"></escort-input>
					</escort-col>
					<escort-col :md="{span:12}">
						<escort-radio-button :options="sexOpts" label-value="性别：" id="sex" ref="sex" v-model="form.sex" prop="sex">
						</escort-radio-button>
					</escort-col>
				</escort-row>
				<escort-row id="copy0_copy0_vueRow_OeNpv" ref="copy0_copy0_vueRow_OeNpv">
					<escort-col :md="{span:12}">
						<escort-input label-value="地址：" id="address" ref="address" v-model="form.address" prop="address"></escort-input>
					</escort-col>
					<escort-col :md="{span:12}">
					</escort-col>
				</escort-row>
			</escort-collapse>
			<escort-collapse title="明细部" id="detailPanel" ref="detailPanel">
				<template slot="title">
					<escort-row id="vueRow_t4yX2" ref="vueRow_t4yX2">
						<escort-col align="right" :md="{span:24}">
						</escort-col>
					</escort-row>
				</template>
				<escort-xgrid :pageable="true" :height="gridHeight" id="grid" ref="grid" :data="dsGrid.data" data-field="content" :datasource="dsGrid">
					<escort-xgrid-column prop="personNo" :sortable="true" align="center" text="编号" width="150px" render-name="input">
					</escort-xgrid-column>
					<escort-xgrid-column prop="name" :sortable="true" align="center" text="姓名" width="150px" render-name="input">
					</escort-xgrid-column>
					<escort-xgrid-column prop="department" :sortable="true" align="center" text="所在部门" width="250px" render-name="input">
					</escort-xgrid-column>
					<escort-xgrid-column :border="true" text="template" type="common" :template-header="true" :template="true" render-name="template">
						<template slot="header" slot-scope="scope"> 个人信息 </template>
						<template slot="default" slot-scope="scope">
							<vue-row>
								<vue-col :span="12" align="center">
									<span>

										{{ scope.row.sexValue }}</span>
								</vue-col>
								<vue-col :span="12" class="_table_template_clo_border" align="center">
									<span>

										{{ scope.row.email }}</span>
								</vue-col>
							</vue-row>
							<vue-divider></vue-divider>
							<vue-row>
								<vue-col :span="24">
									<span>

										{{ scope.row.address }}</span>
								</vue-col>
							</vue-row>
						</template>
					</escort-xgrid-column>
				</escort-xgrid>
			</escort-collapse>
		</escort-form>
	</div>
</template>
<script type="text/javascript">
	var pageMixins;
	(function() {
		var pageMixinMap = {};
		pageMixinMap.event = {
			methods: {
				conditionPanelChange: function(activeNames) {
					this.autoSetGridHeight();
				},
				btnSearchClick: function(event) {
					this.dsGrid.retrieve();
				},
				dsGridParameter: function(tempParams) {
					return this.getSearchParams();
				}
			}
		};
		pageMixinMap.manualSeperate = {
			data: function() {
				return {
					gridHeight: 0
				};
			},
			created: function() {
				var thiz = this;
				VueUtil.addResizeListener(document.body, function() {
					thiz.autoSetGridHeight();
				});
			},
			mounted: function() {
				this.autoSetGridHeight();
			},
			methods: {
				getSearchParams: function() {
					var searchConditions = this.form || {};
					var params = this.$refs.grid.getPageParams();
					for (var item in searchConditions) {
						params[item] = searchConditions[item];
					}
					return params;
				},
				autoSetGridHeight: function() {
					var winHeight = 0;
					if (window.innerHeight) {
						winHeight = window.innerHeight;
					} else if ((document.body) && (document.body.offsetHeight)) {
						winHeight = document.body.offsetHeight;
					}
					if (document.documentElement && document.documentElement.offsetHeight) {
						winHeight = document.documentElement.offsetHeight;
					}
					var conditionHeight = this.$refs.conditionPanel.$el.offsetHeight;
					var detailOffHeight = 0;
					var detailHeaderHeight = 0;
					var detailContentVerticalPadding = 0;
					var detailPanel = this.$refs.detailPanel.$el;
					var detailHeader = detailPanel.getElementsByClassName('vue-collapse-item__header')[0];
					var detailContent = detailPanel.getElementsByClassName('vue-collapse-item__content')[0];
					detailHeaderHeight = parseInt(VueUtil.getStyle(detailHeader, 'height'));
					detailContentVerticalPadding = parseInt(VueUtil.getStyle(detailContent, 'paddingTop')) + parseInt(VueUtil.getStyle(detailContent, 'paddingBottom'));
					detailOffHeight = detailHeaderHeight + detailContentVerticalPadding + 2 /* height of detail panel border*/ ;
					var frameHeight = 0; //Compatible height calculation of page and page template
					if (document.getElementsByClassName('navbar').length > 0) {
						frameHeight += document.getElementsByClassName('navbar')[0].offsetHeight;
					}
					if (document.getElementsByClassName('tags-view-container').length > 0) {
						frameHeight += document.getElementsByClassName('tags-view-container')[0].offsetHeight;
					}
					this.gridHeight = winHeight - conditionHeight - detailOffHeight - frameHeight;
				}
			}
		};
		pageMixinMap.auto = {
			data: function() {
				return {
					pageLoading: false,
					form: {
						name: "",
						sex: "",
						address: ""
					},
					sexOpts: [{
						value: "",
						label: "全部"
					}, {
						value: "1",
						label: "女"
					}, {
						value: "0",
						label: "男"
					}],
					dsGrid: this.getDataSource({
						url: "/applications/sample/searchDatasVue.json",
						type: "POST",
						parameter: this.dsGridParameter,
						emulateJSON: false
					}),
					sexOption: this.getDataSource({
						type: "POST",
						localData: [{
							value: '0',
							label: '男'
						}, {
							value: '1',
							label: '女'
						}]
					})
				};
			},
			mounted: function() {
				this.dsGrid.retrieve();
				this.sexOption.retrieve();
			}
		};
		pageMixins = getPageMixins(pageMixinMap);
	})();
	module.exports = {
		mixins: pageMixins,
		name: "test01"
	};
</script>